@font-face {
  font-family: 'Young Serif';
  src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/static/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/outfit/static/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} 


*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box; 
}

  body{
    font-family: 'Outfit', sans-serif;
    min-width: 375px;
    background-color: hsl(30, 54%, 90%);

  }
  
  @media only screen and (min-width:961px){
    .page{
      margin:10% 20%;
      border-radius: 25px ;
      width: auto;

    }
    
    .top-image {
      margin: 45px 45px 0px;

    }
    .top-image img{
      border-radius: 10px;
    }


  }


  h1, h2, h3 {
    font-family: 'Young Serif' ,serif;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2rem;
    color: #000;
  }
  
  h2 {
    font-size: 2rem;
    color:  hsl(14, 45%, 36%);
    
  }
  
  h3 {
    font-size: 1.2rem;
    font-family: "Outfit", serif;
    color: hsl(332, 51%, 32%);
    font-size: 1.5rem;
  }

.page{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.page-content{
  margin: 20px 40px 40px;
}

.top-image img{
    width: 100%;
    height: auto;
}

.introduction h1{
    margin-bottom: 20px;

}
.introduction p{
    line-height: 23px;
    font-size: 16px;
}

.prep-section{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 25px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
}
.preparation{
  padding: 23px 20px ;
  line-height: 2em;
}
.preparation ul{
  margin-top: 10px;
}
.preparation ul li{
  margin: 0 25px;
  padding: 0px 15px;
}
.preparation ul li::marker{
  color: hsl(332, 51%, 32%);
}

.ingredients, .instructions, .nutrition{
  margin-top: 25px;
}

.ingredients ul{
  padding: 0px 0px 23px;
  line-height: 2em;
}
.ingredients ul li{
  margin: 0 25px;
  padding: 0px 15px;
}

.ingredients ul li::marker{
  color: hsl(14, 45%, 36%)
}

hr{
  color: rgb(165, 162, 162);
}



.instructions ol{
  padding: 0px 0px 23px;
  line-height: 2em;
}

.instructions ol li{
  margin: 0 25px;
  padding: 0px 15px;
}

.instructions ol li::marker{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}


.nutrition table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  padding-left: 20px;
}

.nutrition table tr td{
  border-bottom: 1px solid black;
  padding: 10px 0px 10px 20px
}

tr td:last-of-type{
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}